{% extends "layout.html" %}

{% block extra_meta %}
  <meta name="description" content="{{ site.description }}">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ site.name }}">
  <meta property="og:url" content="{{ site.baseurl }}/">
  <meta property="og:description" content="{{ site.description }}">
  <meta property="og:image" content="/logo.svg">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="">
  <meta name="twitter:creator" content="">
  <meta name="twitter:domain" content="">
{% endblock %}

{% block container %}
<style>
/* if have elements */
</style>
<main class="class">

{% filter markdown %}
## My Site

- [Page](/page): known abaut the page.
- [Friends](/links): other pages.

{% endfilter %}

  <h2>Latest Updates</h2>
  <ul class="unstyled">
    {% for item in site.posts(count=5) %}
      <li><time>{{ item.date.strftime('%Y-%m-%d') }}</time> — <a href="{{ item.url }}">{{ item.title }}</a></li>
    {% endfor %}
  </ul>
</main>

<div class="class">
  {% filter markdown %}

# Heading 1

Your markdown


## Heading 2

Your markdown


### Heading 3

Your markdown

  {% endfilter %}
</div>
{% endblock %}
