@font-face {
	font-family: 'NYT';
	font-weight: normal;
	font-style: normal;
	src: url(/fonts/nyt/nyt-cheltenham-sh-400-normal.woff) format('truetype');
}

@font-face {
	font-family: 'NYT';
	font-weight: normal;
	font-style: italic;
	src: url(/fonts/nyt/nyt-cheltenham-sh-400-italic.woff) format('truetype');
}

@font-face {
	font-family: 'NYT';
	font-weight: 700;
	font-style: normal;
	src: url(/fonts/nyt/nyt-cheltenham-sh-700-normal.woff) format('truetype');
}

@font-face {
	font-family: 'roboto';
	font-weight: normal;
	font-style: normal;
	src: url(/fonts/nyt/roboto_web_400.woff) format('truetype');
}
